Package: com.pangucoding.showsong
Name: ShowSong
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: PanguCoding
Author: PanguCoding
Section: Tweaks
